[Unit]
Description = "Minecraft Game Server"

[Service]
WorkingDirectory = /opt/minecraft
ExecStart = java -Xmx1024M -Xms1024M -jar /opt/minecraft/server.jar nogui

[Install]
WantedBy = multi-user.target
